<%= form_tag password_resets_path, class: "form-signin", role: "form", :method => :post do %>
  <h2 class="form-signin-heading">Reset your password</h2>
  <p>
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email], class: "form-control search-input", placeholder: "Email address", required: "required", autofocus: "autofocus" %>
  </p>  
  <button class="btn btn-lg btn-primary btn-block" type="submit">Reset Password</button>
<% end %>
