<div class="row wrapper white-bg page-heading">
  <div class="col-lg-10">
    <h2>New Movement Group</h2>
    <ol class="breadcrumb">
      <li>
        <a href="<%= url_for :controller => 'projects' %>">Home</a>
      </li>
      <li class="active">
        <strong>Create New Movement Group</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Create New Movement Group</h5>
        </div>
        <div class="col-lg-12 border-bottom-mg-bt-top">
        </div>
        <div class="ibox-content">
          <%= render 'form' %>

          <%= link_to back_link_html('Return to project listing'), projects_path %>
        </div>
      </div>
    </div>
  </div>
</div>


