<small class="pull-right">
  <% if project.public? %>
      <span class='glyphicon glyphicon-eye-open'></span>
  <% else %>
      <span class='glyphicon glyphicon-eye-close'></span>
  <% end %>
</small>