<% provide(:title, 'Accessible Tracks') %>

<div class="row wrapper white-bg page-heading">
  <div class="col-lg-12">
    <h1>Track Browser</h1>

    <button type="button" id="search_data_tracks" class="pull-right">Go</button>
    <button type="button" id="clear_search_data_tracks" class="pull-right" style="display: none">Clear</button>
    <input type="text" class="pull-right col-lg-2" id="myInputTextField" placeholder="Search">

    <ol class="breadcrumb">
      <li>
        <a href="<%= url_for :controller => 'projects' %>">Home</a>
      </li>
      <li class="active">
        <strong>Tracks</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <table class="table table-hover" id="tracks-table" data-source="<%= tracks_ajax_path(format: :json) %>">
            <thead>
            <tr>
              <th>Name</th>
              <th>Take</th>
              <th>Sensors</th>
              <th>Movers</th>
              <th>Technician</th>
              <th>Recording Date</th>
              <th class="nosort nosearch">Tags</th>
            </tr>
            </thead>

            <tbody>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<% content_for :javascript do %>

    <script type="text/javascript">
//      $(function() {
//        $('#tracks-table').dataTable({
//        "processing": true,
//        "serverSide": true,
//        "bDeferRender": true,
//        "bSortClasses": false,
//        "ajax": $('#tracks-table').data('source'),
//        "pagingType": "full_numbers",
//          "sDom": '<"top">rt<"bottom"flp><"clear">',
//        "columnDefs": [{
//            "bSortable": false,
//            "aTargets": ['nosort']
//            }]
//        });
//      });

      $(function() {
        oTable=$('#tracks-table').DataTable({
          "bFilter":true,
          "processing": true,
          "serverSide": true,
          "bDeferRender": true,
          "bSortClasses": false,
          "ajax": $('#tracks-table').data('source'),
        });

        $('#search_data_tracks').click(function(){
          oTable.search($('#myInputTextField').val()).draw() ;
          $('#search_data_tracks').hide();
          $('#clear_search_data_tracks').show();
        })

        $('#clear_search_data_tracks').click(function(){
          oTable.search('').draw();
          $('#myInputTextField').val('');
          $('#clear_search_data_tracks').hide();
          $('#search_data_tracks').show();
        })
      });
    </script>
<% end %>
