<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>New Data Track</h2>
    <ol class="breadcrumb">
      <li>
        <a href="/">Home</a>
      </li>
      <li class="active">
        <strong>Add Data Track</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Add new Data Track</h5>
        </div>
        <div class="ibox-content">
          <%= render 'form' %>

          <%= link_to back_link_html('Return to project listing'), projects_path %>
        </div>
      </div>
    </div>
  </div>
</div>





