html {
  position: relative;
  min-height: 100%;
}

#message-container {
  //margin-top:1px;
  //margin-bottom: 2px;
  top: 0;
  position:fixed;
  text-align:center;/* Add This*/
}


body {
  margin-top: 52px;
  margin-bottom: 60px;
}

.page-header{
  margin-top: 10px;
}

#mytracks_wrapper{
  margin-top: 6px;
  padding-left: 4px;
  padding-right: 4px;
}

#tracks-table_wrapper{
  margin-top: 6px;
  padding-left: 4px;
  padding-right: 4px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right:auto;
  /* Set the fixed height of the footer here */
  height: 60px;
  //background-color: #f5f5f5;
  background-color: #f5f5f5;
}


///* footer */
//
//footer {
//  margin-top: 45px;
//  padding-top: 5px;
//  border-top: 1px solid #eaeaea;
//  color: #999;
//}
//
//img.floater {
//	float: left;
//	margin-right: 30px;
//}
//
//footer a {
//  color: #555;
//}
//
//footer a:hover {
// /* color: #222;*/
//}
//
//footer small {
//  float: left;
//}
//
//footer ul {
//  float: right;
//  list-style: none;
//}
//
//footer ul li {
//  float: left;
//  margin-left: 10px;
//}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: font-url('glyphicons-halflings-regular.eot');
  src: font-url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
			 font-url('glyphicons-halflings-regular.woff') format('woff'), 
			 font-url('glyphicons-halflings-regular.ttf') format('truetype'), 
			 font-url('glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

span.input-group-addon {
	cursor: arrow;
}

ul.horizontal-wrapped {
	margin: 0; 
	padding: 0; 
  list-style-type: none; 
	list-style-image: none;
}

ul.horizontal-wrapped li {
	display: -moz-inline-box;
	display:inline-block;
	text-align: center;	
}
ul.horizontal-wrapped li p {
	width: 150px;
}

ul.horizontal-wrapped li img {
display: block;
margin: 0 auto;
}

.spinner {
  width: 40px;
  height: 40px;
  background-color: #333;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    } 100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      }
}